$goerge-labs-light-gray: #ecf0f4;
$goerge-labs-main-gray: #818a91;
$goerge-labs-light-blue: #bce4fa;
$goerge-labs-main-blue: #1a67d2;
$goerge-labs-navy: #243d56;
$goerge-labs-white: #ffffff;
$goerge-labs-black: #000000;
