@import "../../styles/settings.scss";

.language-drop-down {
  &__wrapper {
    font-size: 16px;

    min-width: 200px;

    .MuiFormLabel-root,
    .MuiFormLabel-root.Mui-focused,
    .MuiInputBase-root,
    .MuiSvgIcon-root {
      color: $goerge-labs-white;
    }

    .MuiOutlinedInput-notchedOutline,
    div.MuiInputBase-root:hover,
    .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
      border-top: unset;
      border-color: $goerge-labs-white;
    }
  }
}
