@import "../../styles/settings.scss";

.country-card {
  &__wrapper {
    display: flex;
    gap: 3px;
    border: 1px solid $goerge-labs-main-blue;
    padding: 6px;
    background-color: $goerge-labs-light-gray;

    img {
      height: 20px;
      border-radius: 3px;
    }
  }
}
